{%include 'adminheader.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 <center>
    <br><br>
    <h1>DOCTOR MANAGE</h1><br>
    <table border="2" class="table" style="width: 1200px;">
        <tr style="background-color: rgb(0, 89, 255);">
            <th>doctor_id</th>
            <th>fname</th>
            <th>lname</th>
            <th>place</th>
            <th>email</th>
            <th>phone</th>
            <th>designation</th>
            <th>status</th>
            <th></th>
            <th></th>
            
        </tr>
       {% for i in data['user']%}
        <tr>
            <td>{{i['doctor_id']}}</td>
            <td>{{i['fname']}}</td>
            <td>{{i['lname']}}</td>
            <td>{{i['place']}}</td>
            <td>{{i['email']}}</td>
            <td>{{i['phone']}}</td>
            <td>{{i['designation']}}</td>
            <td>{{i['status']}}</td>
            <td><a href="?action=Approve&id={{i['login_id']}}" class="btn btn-success">Approve</a></td>
            <td><a href="?action=Reject&id={{i['login_id']}}" class="btn btn-danger">Reject</a></td>


        </tr>
        {%endfor%}
    </table>
 </center>
</body>
</body>
</html>
{% include 'footer.html' %}