<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><center>admin dashboard</center></h1>
    <a href="adminmanaging">Doctor Management</a>
    <a href="diseasemanaging">Disease Management</a>
    <a href="viewuser">VIEW PATIENTS</a>
    <a href="viewfeedback">VIEW FEEDBACK</a>
    <a href="viewdoctorreviews">VIEW REVIEWS</a>
    <a href="symptommanagement">symptommanagement</a>


    </body>
</html>