<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Account creation</h1>
    <form action="" method="post">
        <table>
           <tr>
                <th>First Name</th>
                <td><input type="text" name="fname"></td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td><input type="text" name="lname"></td>
            </tr>
            <tr>
                <th>place</th>
                <td><input type="text" name="place"></td>
            </tr>
            <tr>
                <th>Email</th>
                <td><input type="email" name="email"></td>
            </tr>
            <tr>
                <th>Phone</th>
                <td><input type="phone" name="phone"></td>
            </tr>
            <tr>
                <th>Designation</th>
                <td><input type="text" name="designation"></td>
            </tr>
            
                <tr>
                    <th>username</th>
                    <td><input type="text" name="username"></td>
                </tr>
                <tr>
                    <th>password</th>
                    <td><input type="password" name="password"></td>
                </tr>
                <tr>

    
                <td align="center" colspan="2"><input type="submit" name="submit" value="Register"></td>
            </tr>

            </table>
            </form>

</body>
</html>

