{% include 'doctorheader.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body><center><br><br>
    


    {%if data['up']%}
    <h1>UPDATE SCHEDULE</h1>
    <form action="" method="post" style="width: 900px;" class="form-control">
        <table>
            <tr>
                <th>Start date</th>
                <td><input type="date" class="form-control" name="startdate" value="{{data['up'][0]['disease_name']}}"></td>
            </tr>
            <tr>
                <th>end date</th>
                <td><input type="date" class="form-control" name="enddate" value="{{data['up'][0]['description']}}"></td>
            </tr>
            <tr>
                <th>start time</th>
                <td><input type="time" class="form-control" name="starttime" value="{{data['up'][0]['image']}}"></td>
            </tr>
            <tr>
                <th>end time</th>
                <td><input type="time" class="form-control" name="endtime" value="{{data['up'][0]['image']}}"></td>
            </tr>

            <tr>
                <td align="center" colspan="2"><input type="submit" name="update" value="submit" class="btn btn-primary"></td>
            </tr>
        </table>

    </form>


    {%else%}

        <h1>DOCTOR SCHEDULE</h1>
    <form action="" method="post" style="width: 900px;" class="form-control">
        <table>
           <tr>
                <th>DATE</th>
                <td><input type="date" class="form-control" name="startdate"></td>
            </tr>
            <tr>
                <th>DATE</th>
                <td><input type="date" class="form-control" name="enddate"></td>
            </tr>
            <tr>
                <th>TIME</th>
                <td><input type="time" class="form-control" name="starttime"></td>
            </tr>
            <tr>
                <th>TIME</th>
                <td><input type="time" class="form-control" name="endtime"></td>
            </tr>
            <tr>
                <td align="center" colspan="2"><input type="submit" name="submit" value="submit" class="btn btn-primary"></td>
            </tr>

    </table>
    </form>
    <table border="2" class="table" style="width: 1200px;">
        <tr style="background-color: rgb(0, 89, 255);">
            <th>startdate</th>
            <th>enddate</th>
            <th>starttime</th>
            <th>endtime</th>
            <th></th>
            <th></th>
            
            
        </tr>
       {% for i in data['user']%}
        <tr>
            <td>{{i['startdate']}}</td>
            <td>{{i['enddate']}}</td>
            <td>{{i['starttime']}}</td>
            <td>{{i['endtime']}}</td>
            <td><a href="?action=update&id={{i['schedule_id']}}"  class="btn btn-success">Reschedule</a></td>
            <td><a href="?action=delete&id={{i['schedule_id']}}" class="btn btn-danger">Delete</a></td>


        </tr>
        {%endfor%}
    </table>
    {%endif%}    
</center>  
</body>
</html>
{% include 'footer.html' %}