<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body><center><h1>Schedule Management</h1></center>
    <form action="" method="post">
        <table>
           <tr>
                <th>DATE</th>
                <td><input type="date" name="startdate"></td>
            </tr>
            <tr>
                <th>DATE</th>
                <td><input type="date" name="enddate"></td>
            </tr>
            <tr>
                <th>TIME</th>
                <td><input type="time" name="starttime"></td>
            </tr>
            <tr>
                <th>TIME</th>
                <td><input type="time" name="endtime"></td>
            </tr>
            <tr>
                <td align="center" colspan="2"><input type="submit" name="submit" value="submit"></td>
            </tr>

    </table>
    </form>
</body>
</html>