<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body><h1>SEND REVIEW</h1>
    <table>
        <tr>
            <th>Date</th>
            <td><input type="date" name="date"></td>
        </tr>
    <tr>
        <th>Review</th>
    <td><textarea name="des" id="" cols="20" rows="10"></textarea></td>
        </tr>
<tr>
    <th>Rateing</th>
    <td><input type="number" name="rateing"></td>
</tr>
<td align="center" colspan="2"><input type="submit" name="submit" value="submit"></td>

</table>
</body>
</html>