{% include 'adminheader.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><br><br>
        <h1>VIEW FEEDBACK</h1><br>

        <table border="2" class="table" style="width: 1200px;">
            <tr style="background-color: rgb(0, 89, 255);">
                
                <th>title</th>
                <th>description</th>
                <th>date</th>
                
                
            </tr>
           {% for i in data['user']%}
            <tr>
                
                <td>{{i['title']}}</td>
                <td>{{i['description']}}</td>
                <td>{{i['date']}}</td>
                
               
    
    
            </tr>
            {%endfor%}
        </table>
    
    
    </center>
        
</body>
</html>
{% include 'footer.html' %}